.topFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-left: 50px;
}

.topFooter-item {
  font-size: 1rem;
  flex: 1 1 auto;
}

.firstSection, .secondSection {
  font-size: 0.8rem;
  color: #888;
}

.firstSection strong {
  color: #292929;
}

.middleFooter {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright {
  margin-right: 80px;
  text-align: right;
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
}

.bottomFooter {
  background-color: #292929;
  color: rgba(238, 238, 238, 0.712);
  padding: 3rem;
  text-align: center;
  font-size: 0.8rem;
}

.call {
  cursor: pointer;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: #212121;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  width: 180px;
  height: 48px;
  border-radius: 90px;
}

.call img {
  padding-right: 0.3rem;
}

.thirdSection {
  position: relative;
  right: 50px;
  top: 10px;
  font-size: 0.8rem;
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.appleLogo {
  width: 1rem;
  height: 1rem;
}

.andLogo {
  width: 1rem;
  height: 1rem;
}
